.product-card{
    height: 450px;
    max-width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

.productImage{
    height: 200px;
    width: 100%;
    /* max-width: 400px; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}